*{
    font-size: 62.5%;
    padding: 0;
    margin: 0;
    @import url(<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">);
}

body{
    font-size: 70px;
    line-height: 15px;
    font-weight: 600;
    background-color: #212121;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
}

main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 120px;
    padding: 10px;
    aspect-ratio: 16/9;
    background-color: #EC4E20;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
}

#time{
    color: #212121;
}

