*{
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    @import url(<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">);
}

body {
    background-color: #212121;
    color: #efefef;
    font-family: 'Ubuntu', sans-serif;
}

#contents{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    font-size: 8rem;
}

table{
    font-size: 14rem;
    border: 0.1rem solid #000;
}

tr, th, td{
    padding: 1rem;
    border: 0.1rem solid #000;
    border-collapse: inherit;
}